@using Entity
@model Yazi
@{
    ViewBag.Title = "YaziDetay";
}
<style>
    .duz {
        margin: 10px;
    }
</style>
<div class="row col-md-12">
    <div class="col-md-10"></div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-xs duz" href="#" role="button">Düzenle</a>
    </div>
</div>

<div class="col-sm-9">
    <h4><small>RECENT POSTS</small></h4>
    <hr>
    <h2>I Love Food</h2>
    <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dane, Sep 27, 2015.</h5>
    <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
    <p>Food is my passion. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>