@using Entity
@model Yazi
@{
    ViewBag.Title = "YaziDetay";
}
<style>
    .duz {
        margin: 10px;
    }
</style>


<div class="col-sm-9">
    <h4><small>RECENT POSTS</small></h4>
    <hr>
    <h2>I Love Food</h2>
    <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dane, Sep 27, 2015.</h5>
    <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
    <p>@Html.Raw(Model.YaziIcerigi)</p>
</div>