
@{
    ViewBag.Title = "Ben Kimim";
}



<div class="container col-sm-12">

    <h2>Kimsin Sen?</h2>
    <h4>İsmim<b> Ömer Serdar ŞERİFOĞLU </b>25 Ağustos 1991 - İstanbul doğumluyum. Marmara Üniversitesi İstatistik Bölümü mezunuyum. 3.5 yıl Beykozspor altyapısında basketbol antrenörlüğü yaptım. Askerlikten sonra bir süre daha antrenörlüğün ardından antrenörlükten istifa edip. Bahçeşehir Üniversitesi Wissen Akademi'de İşkur destekli Microsoft Yazılım, Veri Tabanı Uzmanlığı ve ERP Eğitimi aldım. Şuan iş arayışında olan bir Junior Developer adayıyım. Bu bloguda bir nevi kendime anı defteri olarak kullanmayı düşünüyorum. Yaşadıklarımı, gördüklerimi, yaptığım çıkarımları, beğendiklerimi, beğenmediklerimi bu blog aracılığıyla sizlerle paylaşıyor olacağım. Saygılarımla.</h4>
    <br />  <br />
    <h4><b>Sosyal Medya Hesaplarım</b></h4>
    <div>
        <a href="https://www.facebook.com/serdar.serifoglu.3"><img width="50" height="50" src="~/Upload/resimler/facebook-icon.png" /></a>   <a href="https://www.linkedin.com/in/ömer-serdar-şerifoğlu-a1334a9b/"><img width="35" height="35" src="~/Upload/resimler/linkedin-icon-logo-FBADE03110-seeklogo.com.png" /></a>
    </div>
</div>